.icon-48-donhang {
      background-image: url(../images/l_donhang.png);
      padding-left:60px!important;
}

.icon-48-cacdonhang {
      background-image: url(../images/l_donhang.png);
      padding-left:60px!important;
}



.other-filters{
    padding: 0 14px;
}