.icon-48-cacgiaodich {
      background-image: url(../images/l_cacgiaodich.png);
      padding-left:60px!important;
}

.icon-48-chitietgiaodch {
      background-image: url(../images/l_cacgiaodich.png);
      padding-left:60px!important;
}



.other-filters{
    padding: 0 14px;
}